# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

MetricExtractor/spazioCondiviso/Repository/**
MetricExtractor/spazioCondiviso/MetricsDetector/**
*.DS_Store
MetricExtractor/RepoMiner/__pycache__
MetricExtractor/RepoMiner/.idea
MetricExtractor/RepoMiner/.idea/sonarlint/**
MetricExtractor/RepoMiner/.idea/sonarlint
Flakiness_ML_Experiments/mlruns
Flakiness_ML_Experiments/mlruns/**
Flakiness_ML_Experiments/.idea/sonarlint
Flakiness_ML_Experiments/.idea/sonarlint/**
Immagini/**
Immagini
